:root {
  --fg: white;
  --tab-active: #444444;
  --tab-active-hover: #4B4B4B;
  --tab-inactive: #303030;
  --tab-inactive-hover: #3F3F3F;
  --close-active: transparent;
  --close-active-hover: #585858;
  --close-inactive: transparent;
  --close-inactive-hover: #4C4C4C;
  --icon: transparent;
}
