# --- Temporary Disable ---
excl/
nix/pops

# --- Build Artifacts ---
.cache/
.data/
.direnv/
**/result
result
tags

# --- Local NUR Repos ---
.nur/

# --- Keys ---
*.cacert
*.cert
*.crt
*.key
*.keyfile
*.luks
*.lukskey
*.privkey
*.pubkey
*.pub
*.p7
*.p11
*.pem
*.pks
*.pkcs
*.secret
id_rsa
id_ed25519
id_rsa_*
id_ed25519_*
id_*_rsa*
id_*_ed25519*
ssh_*_key
**/private-keys*.d/
**/pubring.kbx
**/random_seed
**/trustdb.gpg
**/keys
**/.keys

# --- Private Info ---
networks.nix
users.nix

# --- Logging & Debugging ---
**/logs
*.log
gdb.txt

# --- Cache ---
.*.cache

# --- Manual Exclusion ---
.notes
lib/shell/glyphs.nix
excl/
*.excl.*
**/*.excl.*
**/nixosConfiguration.old
**/layout.old

